<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SãodroPão</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../img/favicon-saodropao.png" rel="icon">
  <link href="../img/favicon-saodropao.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">


  

  <!--Fontes personalizadas SãodroPão-->
  <style>
      @font-face {
        font-family: 'Titania';
        src: url("fonts/titania/Titania-Regular.ttf") format('truetype');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'Soho';
        src: url("fonts/SOHO/Soho Std Regular.otf") format('opentype');
        font-weight: normal;
        font-style: normal;
      }
      
      #titulo-principal{
        font-family: 'Titania';
        font-weight: normal;
        font-style: normal;
      }
      #subtitulo-principal{
        font-family: 'Soho';
        font-weight: normal;
        font-style: normal;
      }
      #btn-titulo-principal{
        font-family: 'Soho';
        font-weight: normal;
        font-style: normal;
      }
  </style>

  <!--Botão do WhatsApp-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- =======================================================
  * Template Name: Regna - v4.7.0
  * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        <a href="/"><img id="headerFundo" src="img/PNG/ga_Logo_RGB_Sãodropão-17.png" alt=""></a>
        <a href="/"><img src="img/PNG/ga_Logo RGB_Sãodropão-16.png" alt=""></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Página inicial</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre nós</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Produtos</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 id="titulo-principal">Bem-vindo á Sãodropão</h1>
      <h2 id="subtitulo-principal">A Sãodropão faz alguns dos melhores pães rústicos artesanais do mundo em Curitiba - Pr </br></br> São mais de 20 tipos de pães e focaccias rústicos artesanais orgânicos e integrais</br> com fermentação natural longa assados em forno de pedra.</h2>
      <a id="btn-titulo-principal" href="https://web.whatsapp.com/send?phone=554197701140" class="btn-get-started">Peça já pelo WhatsApp</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row about-container">

          <div id="sobreNos" class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Sobre nós</h2>
            <p>
              A Sãodropão já está há mais de 3 anos no mercado e a cada fornada que finalizamos, aperfeiçoamos nossa técnica e nosso controle de qualidade, para sempre entregarmos o nosso melhor para os nossos clientes.            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Compromentimento</a></h4>
              <p class="description">Estamos em constante aprendizado e melhorias.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Qualidade</a></h4>
              <p class="description">Em nossa padaria, seguimos um rigoroso padrão de higiene e qualidade, para que nossos pães cheguem a sua mesa frescos e saborosos.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Clientes e amigos</a></h4>
              <p class="description">Nosso principal objetivo é criar memórias para nossos clientes. Fazemos isso produzindo pães de qualidade para que sejam servidos em seus lares.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100">
            <img src="../img/Imagem_Farinha.jpeg" width="650px" height="496.2px">
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Dados Históricos</h3>
          <p class="section-description">Esses números representam um pouco da história da SãodroPão, não é de hoje que fazer Pães saudáveis, é a nossa especialidade.</p>
        </div>
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="435" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clientes</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="11543" data-purecounter-duration="1" class="purecounter"></span>
            <p>Pães vendidos</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Tipos de pães no cardápio</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="03" data-purecounter-duration="1" class="purecounter"></span>
            <p>Anos no mercado</p>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Services Section ======= -->
    <!-- End Services Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Faça a sua reserva</h3>
            <p class="cta-text"> Ficou interessado em receber em sua casa pães quentinhos e fresquinhos? Não perca mais tempo e faça a sua reserva pelo WhatsApp, basta clicar no botão "Reserve já!"</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://web.whatsapp.com/send?phone=554197701140">Reserve já!</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">Cardápio</h3>
          <p class="section-description">Conheça todos os nossos pães e foccacias disponíveis</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-paes">Pães</li>
              <li data-filter=".filter-focaccias">Focaccias</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-paes">
            <a href="../img/Italiano-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="paes 1">
            <img id="DivImg" src="../img/Italiano-3.jpg" class="img-fluid" alt="">
            </a>
            <div class="portfolio-info">
              <h4>Pão Italiano e Bambino</h4>
              <p>Italiano foi o primeiro pão que fiz com o vídeo “o pão mais fácil do mundo”. 500g R$30,00 e Bambino 350g R$20,00</p>
              
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-paes">
            <a href="../img/ciabatta2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="paes 2">
            <img id="DivImg" src="../img/ciabatta1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Pão Ciabatta</h4>
              <p>Ciabatta é pão pra toda hora, o meu favorito. 500g R$30,00 e Ciabattinha 350g R$20,00 e ½ 150g R$10,00</p>
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-paes">
            <a href="../img/batata macio.mp4" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="paes 3">
            <img id="DivImg" src="../img/batata roxa1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Pão Batata Roxa</h4>
              <p>Batata doce roxa é extremamente macio. 350g R$30,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-paes">
            <a href="../img/multigraos1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="paes 4">
            <img id="DivImg" src="../img/multigraos1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Pão Multigrãos</h4>
              <p>Multigrãos é um mix de 14 grãos. 350g R$30,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-paes">
            <a href="../img/Brasil2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="paes 5">
            <img id="DivImg" src="../img/Brasil1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Pão Brasil</h4>
              <p>Brasil é verde amarelo com cúrcuma e ora-pro-nóbis. 400g R$30,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-paes">
            <a href="../img/blumenau2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="paes 6">
            <img id="DivImg" src="../img/blumenau1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Pão Linguiça Blumenau</h4>
              <p>Linguiça Blumenau é o que mais vende. 350g R$30,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-paes">
            <a href="../img/azeitonas2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="paes 7">
            <img id="DivImg" src="../img/azeitonas1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Pão Azeitonas</h4>
              <p>Azeitonas pretas ou verdes com alecrim, <b>consulte disponibilidade.</b> 350g R$30,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-paes">
            <a href="../img/damasco1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="paes 8">
            <img id="DivImg" src="../img/damasco1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Pão Damasco</h4>
              <p>Damasco com uva passa preta. 350g R$30,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-paes">
            <a href="../img/figo2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="paes 9">
            <img id="DivImg" src="../img/figo1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Pão Figo</h4>
              <p>Figo com castanha do Pará, inspirado no Stollen alemão, tem sabor indescritível 350g R$30,00.</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-paes">
            <a href="../img/malte1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="paes 10">
            <img id="DivImg" src="../img/malte1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Pão Malte de Chocolate</h4>
              <p>Malte de Chocolate com damasco, uva passa e castanha do Pará estreou como especial de natal em 2021 e nunca mais saiu do menu. 350g R$30,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-focaccias">
            <a href="../img/Foccacia-trad1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="focaccias 1">
            <img id="DivImg" src="../img/Foccacia-trad1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Focaccia Tradicional</h4>
              <p>Tradicional com alecrim, sal grosso e azeite é a base de todas. 700g R$50,00 e ½ R$30,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-focaccias">
            <a href="../img/Foccacia-lemon-pepper1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="focaccias 2">
            <img id="DivImg" src="../img/Foccacia-lemon-pepper1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Focaccia Lemon Pepper</h4>
              <p>Lemon Pepper é a mais pedida. 700g R$60,00 e ½ R$35,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-focaccias">
            <a href="../img/Foccacia-tomate1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="focaccias 3">
            <img id="DivImg" src="../img/Foccacia-tomate1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Focaccia Tomate e Alho</h4>
              <p>Tomate e alho dispensa apresentações. 700g R$60,00 e ½ R$35,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-focaccias">
            <a href="../img/Foccacia-blumenau1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="focaccias 4">
            <img id="DivImg" src="../img/Foccacia-blumenau1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Focaccia Linguiça Blumenau</h4>
              <p>Linguiça Blumenau. 700g R$70,00 e ½ R$40,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-focaccias">
            <a href="../img/Foccacia-azeitonas1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="focaccias 3">
            <img id="DivImg" src="../img/Foccacia-azeitonas1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Focaccia Azeitonas</h4>
              <p>Azeitonas pretas ou verdes<b> consulte disponibilidade.</b> 700g R$70,00 e ½ R$40,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

          <div id="PortfolioDivImg" class="col-lg-4 col-md-6 portfolio-item filter-focaccias">
            <a href="../img/Foccacia-mista1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="focaccias 3">
            <img id="DivImg" src="../img/Foccacia-mista1.jpg" class="img-fluid" alt=""></a>
            <div class="portfolio-info">
              <h4>Focaccia Mista</h4>
              <p>Mista <b>sob consulta.</b> 700g R$70,00 e ½ R$40,00</p>
              
              <!--<a href="produto" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container">
        <div class="section-header">
          <h3 class="section-title">Contato</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
      <!--<iframe src="https://www.google.com.br/maps/place/Rebou%C3%A7as,+Curitiba+-+PR,+82590-300/@-25.446153,-49.2727235,15z/data=!3m1!4b1!4m5!3m4!1s0x94dce4607648a4f1:0xdb38f2c0f0533a4!8m2!3d-25.443438!4d-49.2678749" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.9658107419273!2d-49.268018084320204!3d-25.439406539495863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce467cd8c174f%3A0x23e19d24c78f40d6!2sAv.%20Silva%20Jardim%2C%20497%20-%20Rebou%C3%A7as%2C%20Curitiba%20-%20PR%2C%2080230-000!5e0!3m2!1spt-BR!2sbr!4v1655655497501!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <div class="container mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Av Silva Jardim 497 em frente ao Festval </br>Bairro: Rebouças <br>Curitiba-PR</p>
              </div>

              <div>
                <i class='bx bx-building-house bx-flip-horizontal' ></i>
                <p>Entregas exclusivamente em domicílio</p>
              </div>

              <div>
                <a href="mailto:saodro@saodropao.com.br"><i id="efeito" class="bi bi-envelope"></i></a>
                <p>sandro@saodropao.com.br</p>
              </div>

              <div>
                <a href="https://web.whatsapp.com/send?phone=554197701140"><i id="efeito" class="bi bi-phone"></i></a>
                <p>+55 (41) 99770-1140</p>
              </div>
            </div>

            <div class="social-links">
              <a href="https://www.instagram.com/saodropao/" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>

          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu e-mail" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Messagem" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Carregando</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Sua mensagem foi enviada com sucesso. Grato!</div>
                </div>
                <div class="text-center"><button type="submit">Enviar Messagem</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>SãodroPão</strong>. Todos os direitos reservados.
      </div>
      <div class="credits">
        Editado por <a href="https://www.instagram.com/fredyycarneiro/" target="_blank">FredyyCarneiro</a> e </br>
        Design Gráfico por <a href="https://www.instagram.com/diegodejezus/" target="_blank">Diego de Jezus</a>
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/purecounter/purecounter.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <script src="https://kit.fontawesome.com/9cd5b96171.js" crossorigin="anonymous"></script>
  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

</html>